<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="Component46B4D1F0F6C540A4ADE69EB7768178C1" Guid="46b4d1f0-f6c5-40a4-ade6-9eb7768178c1" DiskId="1" Directory="SERVICEINSTALLFOLDER">
        <File Id="FILE_0FBBB4532AF240E981735674B12DF8A1" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.dll" />
        <File Id="FILE_0ED14F59A69341388395BD75CDF04F8A" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.Framework.dll" />
        <File Id="FILE_4F11836AD3F34192BC008D4FCE91DB4E" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.Providers.SqlServer.dll" />
        <File Id="FILE_F77AEDDAEBBB4CE5AC931EFD9B3C8C09" Source="D:\projects\thinking-home\Setup\dist\service\home.sdf" />
        <File Id="FILE_4065C94E35B346B6A3C1E3DF8C72BBD8" Source="D:\projects\thinking-home\Setup\dist\service\Iesi.Collections.dll" />
        <File Id="FILE_4A0C8083CD544CB1929F17BA9E8D732A" Source="D:\projects\thinking-home\Setup\dist\service\Microsoft.Web.XmlTransform.dll" />
        <File Id="FILE_6FC186A468374F9E893E91F91E940A56" Source="D:\projects\thinking-home\Setup\dist\service\Newtonsoft.Json.dll" />
        <File Id="FILE_9C631B1026914580994C7DA09D1FF1D8" Source="D:\projects\thinking-home\Setup\dist\service\NHibernate.dll" />
        <File Id="FILE_725BBC554DB44B1787A9B37D5479A59A" Source="D:\projects\thinking-home\Setup\dist\service\NLog.config" />
        <File Id="FILE_62870740315E4F62933A014A8F4695F4" Source="D:\projects\thinking-home\Setup\dist\service\NLog.dll" />
        <File Id="FILE_A6358FA278AB4BD3990F9D64C1620967" Source="D:\projects\thinking-home\Setup\dist\service\NuGet.Core.dll" />
        <File Id="FILE_A7DA44E8F267432E9828A51F5A3EA793" Source="D:\projects\thinking-home\Setup\dist\service\System.Data.SqlServerCe.dll" />
        <File Id="FILE_FDE49CBEA7854325A12F762B0E51EB07" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Core.Infrastructure.dll" />
        <File Id="FILE_AB8ED204733941CCA68260764D0A89FD" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Core.Plugins.dll" />
        <File Id="FILE_5EEF1D0A42A9492AAFB99FC4A5D32C8B" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Service.exe.config" />
        <File Id="FILE_7C772FEB9D314C5CB021C232157E18DE" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.TestConsole.exe" />
        <File Id="FILE_48642ED9876D4250AFFBFE2EB2C03217" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.TestConsole.exe.config" />
      </Component>
      <Component Id="Component58C71CB808314B6180F785344B1613F2" Guid="58c71cb8-0831-4b61-80f7-85344b1613f2" DiskId="1" Directory="FOLDER_8FB013764F904C19942E0F53E1F8B5A6">
        <File Id="FILE_DD43C6DDD3F54241A31EDE98C9895E05" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceca40.dll" />
        <File Id="FILE_075454F82B27476887D7E5483F8DB3A8" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlcecompact40.dll" />
        <File Id="FILE_86A9BDF1424F4579B37B4758B3370CB1" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceer40EN.dll" />
        <File Id="FILE_F8936BBA7ECE44608515E4B47CC9B6A0" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceme40.dll" />
        <File Id="FILE_45348411175C4769AB2656A2CA737BC0" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceqp40.dll" />
        <File Id="FILE_8951CD7D5E0447408D83455D7CF8D1E7" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlcese40.dll" />
      </Component>
      <Component Id="Component5CF395F89D4D40FAB6C1F598F812513D" Guid="5cf395f8-9d4d-40fa-b6c1-f598f812513d" DiskId="1" Directory="FOLDER_F2460FD70ED443E2B99C8D5B0A5B4078">
        <File Id="FILE_EB84437F6B73439E873E60FF0899FECD" Source="D:\projects\thinking-home\Setup\dist\service\amd64\Microsoft.VC90.CRT\msvcr90.dll" />
      </Component>
      <Component Id="Component42A7115F8FEC47BFA7C85987AFB947EB" Guid="42a7115f-8fec-47bf-a7c8-5987afb947eb" DiskId="1" Directory="FOLDER_1958E969ACED47D194883677A574ED47">
        <File Id="FILE_9560EBD4B72A4040B68E3D6327782CD3" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.AlarmClock.2.0.0.48\ThinkingHome.Plugins.AlarmClock.2.0.0.48.nupkg" />
        <File Id="FILE_5FFEB3D6E2FF45219274212213856660" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.AlarmClock.2.0.0.48\ThinkingHome.Plugins.AlarmClock.dll" />
      </Component>
      <Component Id="Component0D4851F873BF4FB89197AC760295EEBB" Guid="0d4851f8-73bf-4fb8-9197-ac760295eebb" DiskId="1" Directory="FOLDER_2C11844135004FA5B529A7EA6D464AA2">
        <File Id="FILE_B041F4D7F9F345EA913D2E9B3F94E8C5" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\NAudio.dll" />
        <File Id="FILE_B8A6CB1EE2C144E895443973A6DDFA28" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\NAudio.xml" />
        <File Id="FILE_5AFA415493F64BBA929A894442E6131E" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\ThinkingHome.Plugins.Audio.2.0.0.48.nupkg" />
        <File Id="FILE_ED734D5BDF694CC48F731840E046472C" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\ThinkingHome.Plugins.Audio.dll" />
      </Component>
      <Component Id="Component61C83698953E48BC82E9D4C8A7742F4E" Guid="61c83698-953e-48bc-82e9-d4c8a7742f4e" DiskId="1" Directory="FOLDER_5351E34B76804EE49D17363A5860DB81">
        <File Id="FILE_F669F1DEEF4F4124B9B3A0165747A87A" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Diagnostics.dll" />
        <File Id="FILE_B7B39F8E0C054E2A917CE2B7EB00FF83" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Diagnostics.xml" />
        <File Id="FILE_7D47333973A847CF96A756083E690DFE" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.dll" />
        <File Id="FILE_1EF0564BC7324025987185E747F57708" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Host.HttpListener.dll" />
        <File Id="FILE_0049D42DF6754DF98C9719A11AEFF1B7" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Host.HttpListener.xml" />
        <File Id="FILE_9F0627BC708A4A708259BE4A2C356EDA" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Hosting.dll" />
        <File Id="FILE_10F94121ECE847238C50A9E5EBD23145" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.Hosting.xml" />
        <File Id="FILE_7304840A1C3149FC87540370991DCA3B" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Microsoft.Owin.xml" />
        <File Id="FILE_2475810A3F9043B8AC2D7FDA7F8B13D3" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Owin.dll" />
        <File Id="FILE_C154DF4BC8084DA8A79FCC1B158FAE6B" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\Owin.Types.dll" />
        <File Id="FILE_6A3C074CB6AF40AEA79387A35C8ECB55" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\ThinkingHome.Plugins.Listener.2.0.0.48.nupkg" />
        <File Id="FILE_9AA739820AEC41F7BA90D2B065237585" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\ThinkingHome.Plugins.Listener.dll" />
      </Component>
      <Component Id="ComponentC9C0BCCBF3074187BFC61EEE97D362C7" Guid="c9c0bccb-f307-4187-bfc6-1eee97d362c7" DiskId="1" Directory="FOLDER_DB282CD1FA3C48F39C98F782107634A1">
        <File Id="FILE_3B9244FB312F4DADAC83CA28C21CC220" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Microclimate.2.0.0.48\ThinkingHome.Plugins.Microclimate.2.0.0.48.nupkg" />
        <File Id="FILE_022A6428A4964AB0AB6C86C203293948" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Microclimate.2.0.0.48\ThinkingHome.Plugins.Microclimate.dll" />
      </Component>
      <Component Id="Component064EC39B9B6445478941D99518526781" Guid="064ec39b-9b64-4547-8941-d99518526781" DiskId="1" Directory="FOLDER_E590783FDBA74CEDAEC86B39145430AE">
        <File Id="FILE_4DCAC19581444DD0A51937E0F4692C20" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Mqtt.2.0.0.48\M2Mqtt.dll" />
        <File Id="FILE_1448D5278BF24B35BF96F9424C3FEA67" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Mqtt.2.0.0.48\ThinkingHome.Plugins.Mqtt.2.0.0.48.nupkg" />
        <File Id="FILE_3FD98B52CE404CB18BA6FAE0889C5FAE" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Mqtt.2.0.0.48\ThinkingHome.Plugins.Mqtt.dll" />
      </Component>
      <Component Id="Component3F4E4A07676B4E06B9A50107EFFD38E8" Guid="3f4e4a07-676b-4e06-b9a5-0107effd38e8" DiskId="1" Directory="FOLDER_A6A20FDA4EEB4DA18885FE5D0272DFC5">
        <File Id="FILE_394261643F714E05989C5E06AF8DDACE" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\HidLibrary.dll" />
        <File Id="FILE_F97CC9A8512940A299E5A5A7E0F7A66A" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.NooLite.dll" />
        <File Id="FILE_B35B4CB9C53A4DD486F0225AF5F1BD89" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.Plugins.NooLite.2.0.0.48.nupkg" />
        <File Id="FILE_B1542EC218D64F50BE14A423032A6DC2" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.Plugins.NooLite.dll" />
      </Component>
      <Component Id="Component1285D4F9728A46E1836B04257871E619" Guid="1285d4f9-728a-46e1-836b-04257871e619" DiskId="1" Directory="FOLDER_08D4B7AA7843418583BF3758050B1C8F">
        <File Id="FILE_00BD635CA4CC40389A48664DBC866E5B" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Packages.2.0.0.48\ThinkingHome.Plugins.Packages.2.0.0.48.nupkg" />
        <File Id="FILE_F7C1397682EF42EF91AF5E3D2B7630D4" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Packages.2.0.0.48\ThinkingHome.Plugins.Packages.dll" />
      </Component>
      <Component Id="Component04A44DA15F474E1C81AA9C08AB62CBA8" Guid="04a44da1-5f47-4e1c-81aa-9c08ab62cba8" DiskId="1" Directory="FOLDER_E21350DA1D1345B7874F615340E23E4D">
        <File Id="FILE_621B10FD73534AC0BBC8D3CAAC5325E0" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScript.dll" />
        <File Id="FILE_A5A50BB46F374B448BF55AB6604D71D6" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScriptV8-32.dll" />
        <File Id="FILE_61E54F9A84EF499087A600C061922FC0" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScriptV8-64.dll" />
        <File Id="FILE_80A155016D29421EB4F7F89093C44450" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ThinkingHome.Plugins.Scripts.2.0.0.48.nupkg" />
        <File Id="FILE_A58DF78E9A1D4947B208D948C7469F2B" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ThinkingHome.Plugins.Scripts.dll" />
        <File Id="FILE_7F73D72B791C4D73A0AADE2A741C3E19" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\v8-ia32.dll" />
        <File Id="FILE_CC9AD2695AE04DB9BA7A4EBF89F50041" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\v8-x64.dll" />
      </Component>
      <Component Id="Component583CB372D50E496295CB1853F4705D85" Guid="583cb372-d50e-4962-95cb-1853f4705d85" DiskId="1" Directory="FOLDER_88BCA329F9EC45ABA62C83CD3179E22A">
        <File Id="FILE_C194EAEF79E84B43983EBE795D001F04" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Timer.2.0.0.48\ThinkingHome.Plugins.Timer.2.0.0.48.nupkg" />
        <File Id="FILE_1CE07221197E43738DD035BC0745BE62" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Timer.2.0.0.48\ThinkingHome.Plugins.Timer.dll" />
      </Component>
      <Component Id="ComponentDA2FF58F3CF94DF38389A448737BBEC6" Guid="da2ff58f-3cf9-4df3-8389-a448737bbec6" DiskId="1" Directory="FOLDER_354FDD80675141B8A8140135B3537B25">
        <File Id="FILE_F3D2AF4CBC3247769DE74C479AD2C172" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Tmp.2.0.0.48\ThinkingHome.Plugins.Tmp.2.0.0.48.nupkg" />
        <File Id="FILE_D5A70526B96A4942B21FC99305E900AD" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Tmp.2.0.0.48\ThinkingHome.Plugins.Tmp.dll" />
      </Component>
      <Component Id="ComponentE2006EF5074544D198FD216C826503CC" Guid="e2006ef5-0745-44d1-98fd-216c826503cc" DiskId="1" Directory="FOLDER_4BF839E211074D319748A8A91D802871">
        <File Id="FILE_34DD02CFE518465CA28704FF0E738680" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Weather.2.0.0.48\ThinkingHome.Plugins.Weather.2.0.0.48.nupkg" />
        <File Id="FILE_36296FA71FBC42309DA75FDD8A75024D" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Weather.2.0.0.48\ThinkingHome.Plugins.Weather.dll" />
      </Component>
      <Component Id="Component584504ACA02345B29DDFDA53D20DF65D" Guid="584504ac-a023-45b2-9ddf-da53d20df65d" DiskId="1" Directory="FOLDER_26550BBB029F41A9A47594FF5B4CA0EF">
        <File Id="FILE_D4693268749B46979EA36E98854E661C" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.WebUI.2.0.0.48\ThinkingHome.Plugins.WebUI.2.0.0.48.nupkg" />
        <File Id="FILE_E7AF5A679301489E8CFE2D4E57848AC9" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.WebUI.2.0.0.48\ThinkingHome.Plugins.WebUI.dll" />
      </Component>
      <Component Id="ComponentB05D34F50AF24308B34BA4BAAD82F8CF" Guid="b05d34f5-0af2-4308-b34b-a4baad82f8cf" DiskId="1" Directory="FOLDER_9EFD1DE3CC7D4D08ACAFBDF1670DF3D4">
        <File Id="FILE_6AA7C0B6D0904F09B55955FBDC92B0BC" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceca40.dll" />
        <File Id="FILE_9B1EA8EA182242D3A79C2B94FE14EA1C" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlcecompact40.dll" />
        <File Id="FILE_2AED96D91B4B444987A09471A39DEC10" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceer40EN.dll" />
        <File Id="FILE_82270F4CC29748E8B626D196E5CB06AE" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceme40.dll" />
        <File Id="FILE_1352CC349F384ECD80CC62E8EA3B9F32" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceqp40.dll" />
        <File Id="FILE_97754A397CF248B590D1A4AD9E707249" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlcese40.dll" />
      </Component>
      <Component Id="Component494111748E964BFDB98E1EF91F5F5742" Guid="49411174-8e96-4bfd-b98e-1ef91f5f5742" DiskId="1" Directory="FOLDER_18876DC626364B7BBBACB6F54C9673F6">
        <File Id="FILE_912D4EFB73164406B3249F25F35A143D" Source="D:\projects\thinking-home\Setup\dist\service\x86\Microsoft.VC90.CRT\msvcr90.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>