<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ComponentD726DAC39D70487AB929CF862D5011F3" Guid="d726dac3-9d70-487a-b929-cf862d5011f3" DiskId="1" Directory="SERVICEINSTALLFOLDER">
        <File Id="FILE_3D6677B375604A2D998E2C030B80AED9" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.dll" />
        <File Id="FILE_712C998B929340919267062CF8B4CCBE" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.Framework.dll" />
        <File Id="FILE_AF85B39B167045B19286102F4AB61269" Source="D:\projects\thinking-home\Setup\dist\service\ECM7.Migrator.Providers.SqlServer.dll" />
        <File Id="FILE_799A346C86F5404ABE1159EE3C394661" Source="D:\projects\thinking-home\Setup\dist\service\home.sdf" />
        <File Id="FILE_2038B64202C5452DAFFAE323555970AA" Source="D:\projects\thinking-home\Setup\dist\service\Iesi.Collections.dll" />
        <File Id="FILE_BD8E68B99C0946D0988F2A735DA3ADEC" Source="D:\projects\thinking-home\Setup\dist\service\Microsoft.Web.XmlTransform.dll" />
        <File Id="FILE_CA5D2022A422430B9CF16EB630AA2FB1" Source="D:\projects\thinking-home\Setup\dist\service\Newtonsoft.Json.dll" />
        <File Id="FILE_96F2BBEA70E14DE58399973FE8FB96FA" Source="D:\projects\thinking-home\Setup\dist\service\NHibernate.dll" />
        <File Id="FILE_DEA3E2FC3F1643D687B5C3A6DF693175" Source="D:\projects\thinking-home\Setup\dist\service\NLog.config" />
        <File Id="FILE_A41FB89421184A0CB2216FD5AAD3BB3C" Source="D:\projects\thinking-home\Setup\dist\service\NLog.dll" />
        <File Id="FILE_A1F7E519B147486689F72DA30DDC4183" Source="D:\projects\thinking-home\Setup\dist\service\NuGet.Core.dll" />
        <File Id="FILE_8413DB6674C442178A569CF7586B5854" Source="D:\projects\thinking-home\Setup\dist\service\System.Data.SqlServerCe.dll" />
        <File Id="FILE_12536A84CC704976830D390946B8D866" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Core.Infrastructure.dll" />
        <File Id="FILE_C7D18625DCD343CCABE113F97D10E21E" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Core.Plugins.dll" />
        <File Id="FILE_47B7A516912E4DD394B3DBB586FD72C8" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.Service.exe.config" />
        <File Id="FILE_0B147B37C020498689D31B5486BE127B" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.TestConsole.exe" />
        <File Id="FILE_676E9C1267E84B00B936B04C4799C00B" Source="D:\projects\thinking-home\Setup\dist\service\ThinkingHome.TestConsole.exe.config" />
      </Component>
      <Component Id="ComponentF875663512C84A6883F7649E90ABFBF5" Guid="f8756635-12c8-4a68-83f7-649e90abfbf5" DiskId="1" Directory="FOLDER_0A4591AAA95A43DE98017F017199B813">
        <File Id="FILE_DCAB1ECDEBC74647B7FA7085253BA633" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceca40.dll" />
        <File Id="FILE_52BD9201786E40A0B6B5A5D39841F0B2" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlcecompact40.dll" />
        <File Id="FILE_2853376AADE342478307A3AAF33F8F73" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceer40EN.dll" />
        <File Id="FILE_558635098C2E419898E6550082C682F7" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceme40.dll" />
        <File Id="FILE_16EEEAD37CD04807AF0DAD17651213F6" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlceqp40.dll" />
        <File Id="FILE_A14FA63DE5ED4B54BB6F5859B9B20AAF" Source="D:\projects\thinking-home\Setup\dist\service\amd64\sqlcese40.dll" />
      </Component>
      <Component Id="Component00FD8BC38C8142BB94DC6A3167E75219" Guid="00fd8bc3-8c81-42bb-94dc-6a3167e75219" DiskId="1" Directory="FOLDER_F5B6C5F845F34C50A3599BB90FD9FD23">
        <File Id="FILE_11FA1581CB0D450C9ACAEE2C649C75ED" Source="D:\projects\thinking-home\Setup\dist\service\amd64\Microsoft.VC90.CRT\msvcr90.dll" />
      </Component>
      <Component Id="Component9234DBA2FC1C4FD4BD88C5B7CC29F006" Guid="9234dba2-fc1c-4fd4-bd88-c5b7cc29f006" DiskId="1" Directory="FOLDER_7B384F38E78A463198117DAFDA0222F9">
        <File Id="FILE_021BD06BB229495EABBA8E28A788152A" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.AlarmClock.2.0.0.48\ThinkingHome.Plugins.AlarmClock.2.0.0.48.nupkg" />
        <File Id="FILE_1E8EFF7898E84A83AE72416564516C64" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.AlarmClock.2.0.0.48\ThinkingHome.Plugins.AlarmClock.dll" />
      </Component>
      <Component Id="ComponentA791577A74A24CF6AF1A21917B81AD2D" Guid="a791577a-74a2-4cf6-af1a-21917b81ad2d" DiskId="1" Directory="FOLDER_E446C603A5674B35B565C5FBAD7224A4">
        <File Id="FILE_8CD5333B15DC4189A8C58232206391B3" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\NAudio.dll" />
        <File Id="FILE_C07FDD3672044B34BEAD763C1CB2D71C" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\NAudio.xml" />
        <File Id="FILE_0BF720E18CE3486EA3098A368488EA00" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\ThinkingHome.Plugins.Audio.2.0.0.48.nupkg" />
        <File Id="FILE_E972FF7C8C7F4675BB425B451734033E" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Audio.2.0.0.48\ThinkingHome.Plugins.Audio.dll" />
      </Component>
      <Component Id="Component8C9F1854247A431FAF07927F6375CFE3" Guid="8c9f1854-247a-431f-af07-927f6375cfe3" DiskId="1" Directory="FOLDER_87C62F1F91864340A4A4BA1B983FC22E">
        <File Id="FILE_645D7F4CF06940A0AA7AA77216878E91" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Net.Http.Formatting.dll" />
        <File Id="FILE_97941DB52EB74DF28D263D7CC9BE1577" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Net.Http.Formatting.xml" />
        <File Id="FILE_FA53A821F8834DCF9917C695AC125A77" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Web.Http.dll" />
        <File Id="FILE_F50E4D8A7CBA46519CBD1C96BA99A6D0" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Web.Http.SelfHost.dll" />
        <File Id="FILE_AAB1488C626E4AD59C53BFEF00204291" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Web.Http.SelfHost.xml" />
        <File Id="FILE_2861F993CBB44A62818E2EE990E6B07E" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\System.Web.Http.xml" />
        <File Id="FILE_D4470F0C79EF4F668BCE2859743BB077" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\ThinkingHome.Plugins.Listener.2.0.0.48.nupkg" />
        <File Id="FILE_E6027BC8416B4256A5536D73192A1D1C" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Listener.2.0.0.48\ThinkingHome.Plugins.Listener.dll" />
      </Component>
      <Component Id="ComponentB9CCCF140FF74E629379B8C997A49275" Guid="b9cccf14-0ff7-4e62-9379-b8c997a49275" DiskId="1" Directory="FOLDER_EB109F83072D46A2955C1B113D39DEFA">
        <File Id="FILE_1B1DC41F96EA465297F256B9559FB2AA" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\HidLibrary.dll" />
        <File Id="FILE_69922EB03327459A958574D03BDECE43" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.NooLite.dll" />
        <File Id="FILE_7FABE3D5FA1C458599B944B465E363AD" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.Plugins.NooLite.2.0.0.48.nupkg" />
        <File Id="FILE_41C6D7AB84864B8D8D169277486BD1A7" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.NooLite.2.0.0.48\ThinkingHome.Plugins.NooLite.dll" />
      </Component>
      <Component Id="ComponentA47C73E2024948C3BD99D8D10FE7782F" Guid="a47c73e2-0249-48c3-bd99-d8d10fe7782f" DiskId="1" Directory="FOLDER_26AE799BF2A64305BCAEF8FDBFEDD812">
        <File Id="FILE_3F125C24F3A644F3B8BAB4D52AEEDC7D" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Packages.2.0.0.48\ThinkingHome.Plugins.Packages.2.0.0.48.nupkg" />
        <File Id="FILE_9AC745AA77BC4D2EA761F6F803E76859" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Packages.2.0.0.48\ThinkingHome.Plugins.Packages.dll" />
      </Component>
      <Component Id="ComponentB656975393E14CE393B1D14023719274" Guid="b6569753-93e1-4ce3-93b1-d14023719274" DiskId="1" Directory="FOLDER_55A43E420F204F25BBBCF3F8994F6222">
        <File Id="FILE_62FAA21DF58B44CF920F75F88C2B52E6" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScript.dll" />
        <File Id="FILE_F7F9C65773A84095BFAF05EDEFE48F79" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScriptV8-32.dll" />
        <File Id="FILE_34D72FC6B40642A5B0F2E96083BE0AD6" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ClearScriptV8-64.dll" />
        <File Id="FILE_5B2CA97369CA4D559AB31D0AEE4C0069" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ThinkingHome.Plugins.Scripts.2.0.0.48.nupkg" />
        <File Id="FILE_0AF3F7C4A2174ECA8797CE740C61B153" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\ThinkingHome.Plugins.Scripts.dll" />
        <File Id="FILE_FCF011D7692C4726AC82D01809EB8DE5" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\v8-ia32.dll" />
        <File Id="FILE_AAB1DD4CE8CE48BB8ED2834074958924" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Scripts.2.0.0.48\v8-x64.dll" />
      </Component>
      <Component Id="ComponentF212DECEFC594A1AB79DC679E32D2008" Guid="f212dece-fc59-4a1a-b79d-c679e32d2008" DiskId="1" Directory="FOLDER_36FB9906F1B64BE7B4673EC3B1E927DB">
        <File Id="FILE_26107CDC1EC84A9DBE8626F3202B7F78" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Timer.2.0.0.48\ThinkingHome.Plugins.Timer.2.0.0.48.nupkg" />
        <File Id="FILE_5A0E81D388824B56A2ECAE243CD68625" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Timer.2.0.0.48\ThinkingHome.Plugins.Timer.dll" />
      </Component>
      <Component Id="ComponentBBD6406119434687859554EE0BCB925B" Guid="bbd64061-1943-4687-8595-54ee0bcb925b" DiskId="1" Directory="FOLDER_94589AAD2A6648B488FAD19F0B6641A9">
        <File Id="FILE_6D8EE3E90EC34DC6B129029437824CD4" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Tmp.2.0.0.48\ThinkingHome.Plugins.Tmp.2.0.0.48.nupkg" />
        <File Id="FILE_9A4363C364714A73B86F0001F60A8CFB" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Tmp.2.0.0.48\ThinkingHome.Plugins.Tmp.dll" />
      </Component>
      <Component Id="ComponentBF1417F5A80F483F84AB036B66EE2BE8" Guid="bf1417f5-a80f-483f-84ab-036b66ee2be8" DiskId="1" Directory="FOLDER_A4171D297DA94B2EA0646DAE0E95077D">
        <File Id="FILE_0623496F09B54CA0BEDD13939D148661" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Weather.2.0.0.48\ThinkingHome.Plugins.Weather.2.0.0.48.nupkg" />
        <File Id="FILE_5A230A04F13C42D2A4FA55084B835054" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.Weather.2.0.0.48\ThinkingHome.Plugins.Weather.dll" />
      </Component>
      <Component Id="Component3D16531327B541E984DD7E55F3E5DEBB" Guid="3d165313-27b5-41e9-84dd-7e55f3e5debb" DiskId="1" Directory="FOLDER_94CD2441D12E45AC9F87257BCDB2E010">
        <File Id="FILE_C4F4810F7526447FB43B64390D51FBF7" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.WebUI.2.0.0.48\ThinkingHome.Plugins.WebUI.2.0.0.48.nupkg" />
        <File Id="FILE_72D5632FBAA4408CB1DA1F36B5E6F7E9" Source="D:\projects\thinking-home\Setup\dist\service\Plugins\ThinkingHome.Plugins.WebUI.2.0.0.48\ThinkingHome.Plugins.WebUI.dll" />
      </Component>
      <Component Id="ComponentBE7087DA3B5B41DA8FFFECCAA801CF2C" Guid="be7087da-3b5b-41da-8fff-eccaa801cf2c" DiskId="1" Directory="FOLDER_A5F32FA7CA3A4B31AB9E23152CEDB4F5">
        <File Id="FILE_4EAFF7585BB845F797E4026624BC38F3" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceca40.dll" />
        <File Id="FILE_0AABF09ECABF4A3F856E4EEC9B5A86FD" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlcecompact40.dll" />
        <File Id="FILE_0DCCF5E80F4344CAB5671D46E43B383A" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceer40EN.dll" />
        <File Id="FILE_702F9AB64C514DB596395135EB4F7E31" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceme40.dll" />
        <File Id="FILE_92374C907E754EF98F16AA3D28071ED9" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlceqp40.dll" />
        <File Id="FILE_F2BCBAAB2BB84488B8D9FB1F918E8C62" Source="D:\projects\thinking-home\Setup\dist\service\x86\sqlcese40.dll" />
      </Component>
      <Component Id="Component3238E78AD35E430B87F9A1EE8AC39458" Guid="3238e78a-d35e-430b-87f9-a1ee8ac39458" DiskId="1" Directory="FOLDER_2501347DB5494635B38A205527C3F01E">
        <File Id="FILE_D5C927EB2B0E4D35BC37C46034C607F9" Source="D:\projects\thinking-home\Setup\dist\service\x86\Microsoft.VC90.CRT\msvcr90.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>