<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="SERVICEINSTALLFOLDER" Name="service">
        <Directory Id="FOLDER_001852F8415648019FED9B54EA10E219" Name="amd64">
          <Directory Id="FOLDER_711A274F02B349A4BBB16DC283253EF3" Name="Microsoft.VC90.CRT" />
        </Directory>
        <Directory Id="FOLDER_E7062B854FF5406FB4D12CD0C8FD07BA" Name="Plugins">
          <Directory Id="FOLDER_0BD84AE9D39E476CB0AFBEE6C5FC1B16" Name="ThinkingHome.Plugins.AlarmClock.2.0.0.48" />
          <Directory Id="FOLDER_37ECBAC0BC084D8083E93108D4033DCD" Name="ThinkingHome.Plugins.Audio.2.0.0.48" />
          <Directory Id="FOLDER_25134F61D1D4427D8ED11E30809FA00B" Name="ThinkingHome.Plugins.Listener.2.0.0.48" />
          <Directory Id="FOLDER_240614127B024687AB3ACDA1B2A7B30A" Name="ThinkingHome.Plugins.Microclimate.2.0.0.48" />
          <Directory Id="FOLDER_741B4BC058EA4BBEBE4842189EE22BB6" Name="ThinkingHome.Plugins.Mqtt.2.0.0.48" />
          <Directory Id="FOLDER_3BFBA07198B84D18BD72558251B967A1" Name="ThinkingHome.Plugins.NooLite.2.0.0.48" />
          <Directory Id="FOLDER_FDCBBC8D15364017AE612185AE2BA078" Name="ThinkingHome.Plugins.Packages.2.0.0.48" />
          <Directory Id="FOLDER_F1D08DB10F8E4CC69BCE95692B1721CF" Name="ThinkingHome.Plugins.Scripts.2.0.0.48" />
          <Directory Id="FOLDER_C7804C785F3C46DEBF882B4CA326117C" Name="ThinkingHome.Plugins.Timer.2.0.0.48" />
          <Directory Id="FOLDER_CE718F86F537475095D2651D31F7696C" Name="ThinkingHome.Plugins.Tmp.2.0.0.48" />
          <Directory Id="FOLDER_47606B9BF1CF4FCFA83E817EF52FE80C" Name="ThinkingHome.Plugins.Weather.2.0.0.48" />
          <Directory Id="FOLDER_4CD2AC09CA904CD587588F3CCAC2B323" Name="ThinkingHome.Plugins.WebUI.2.0.0.48" />
        </Directory>
        <Directory Id="FOLDER_1374D5EEA3D64844922837C1E0366B0F" Name="x86">
          <Directory Id="FOLDER_F6D12AAD42CE414BA08F7741ADE87129" Name="Microsoft.VC90.CRT" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>