<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="SERVICEINSTALLFOLDER" Name="service">
        <Directory Id="FOLDER_5C7B400E45EF406888C92CB8D2864A7E" Name="amd64">
          <Directory Id="FOLDER_31CF948EDA64426DA95193DE2D7ED2C1" Name="Microsoft.VC90.CRT" />
        </Directory>
        <Directory Id="FOLDER_A6501E268A5542C89B557D22AED319AB" Name="Plugins">
          <Directory Id="FOLDER_F90E5451B3F940FE8A00626FE5AD8E67" Name="ThinkingHome.Plugins.DlinkDCS930L.1.0.0.0" />
          <Directory Id="FOLDER_2AFBA7E0B9334BB39B0425D658094A08" Name="ThinkingHome.Plugins.Listener.1.0.0.0" />
          <Directory Id="FOLDER_76B42DC2F356423B82446E0C26E4FA3E" Name="ThinkingHome.Plugins.NooLite.1.0.0.0" />
          <Directory Id="FOLDER_AE0D6539014A470D8FDA1EDF2128F357" Name="ThinkingHome.Plugins.Packages.1.0.0.0" />
          <Directory Id="FOLDER_6445BEB0241B4EFA9354504BBBAB1433" Name="ThinkingHome.Plugins.Scripts.1.0.0.0" />
          <Directory Id="FOLDER_FFB2563D1EE647C186C0C35D496C2EF3" Name="ThinkingHome.Plugins.Speech.1.0.0.0" />
          <Directory Id="FOLDER_FE5FE423D1FE4A03A11B084C6E7BDBF2" Name="ThinkingHome.Plugins.Storage.1.0.0.0" />
          <Directory Id="FOLDER_52B9376376154F509FB642C9D0A24F86" Name="ThinkingHome.Plugins.Timer.1.0.0.0" />
        </Directory>
        <Directory Id="FOLDER_A211035836FC4DD1917D9DA74470CD0A" Name="x86">
          <Directory Id="FOLDER_EE3EFB4346C548CCB87C7DCF3C09308D" Name="Microsoft.VC90.CRT" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>