<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

	<Product Id="*" Name="Thinking Home" Language="1033" Version="1.0.0.0" 
		Manufacturer="Thinking-Home.RU" UpgradeCode="48dc066c-97cc-4512-8fa3-52bbe195e075">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Feature Id="ProductFeature" Title="ThinkingHome.Service" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ServiceComponents" />
		</Feature>

		<CustomAction Id="Set_ARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" Return="check" Execute="immediate" />

		<PropertyRef Id="NETFRAMEWORK45"/>

		<Property Id="ARPHELPLINK" Value="http://thinking-home.ru/system" />
		<Property Id="HTTP_LISTENER_PORT" Value="41831" />
		<Property Id="UI_LANG" Value="en-US" />

		<Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<UIRef Id="WixUI_InstallDirNoolite" />
		<WixVariable Id="WixUILicenseRtf" Value="..\dist\License.rtf" />
		<InstallExecuteSequence>
			<Custom Action="Set_ARPINSTALLLOCATION" After="InstallInitialize"> (NOT Installed) </Custom>
		</InstallExecuteSequence>
	</Product>


	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="ThinkingHome" >
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>

	</Fragment>
	<Fragment>
		<ComponentGroup Id="ServiceComponents">
			<Component Id="ServiceComponent" Directory="SERVICEINSTALLFOLDER"
				Guid="3042F070-5FDE-4CC5-8D31-9D6DF53795BC">

				<File
					Id="ThinkingHome.Service.exe"
					Name="ThinkingHome.Service.exe"
					Source="..\dist\ThinkingHome.Service.exe"
					Vital="yes" KeyPath="yes" DiskId="1"/>


				<ServiceInstall	Id="ServiceInstaller"
								Type="ownProcess"
								Vital="yes"
								Name="ThinkingHome.Service"
								DisplayName="Home automation service"
								Description="A service that does very interesting things"
								Start="auto"
								Account="LOCALSYSTEM"
								ErrorControl="normal" >
				</ServiceInstall>
				<ServiceControl Id="ServiceControl_Start"
								Name="ThinkingHome.Service"
								Start="install"
								Wait="no" />
				<ServiceControl Id="ServiceControl_Stop"
								Name="ThinkingHome.Service"
								Stop="both"
								Remove="uninstall"
								Wait="yes" />

				<fire:FirewallException Id="th_ui_domain_tcp"
							   Name="ThinkingHome WebUI"
							   Protocol="tcp"
							   Port="[HTTP_LISTENER_PORT]"
							   Scope="any"
							   IgnoreFailure="yes" />

				<util:XmlFile Id="configure_console_lang" Action="setValue" Value="[UI_LANG]"
					File="[SERVICEINSTALLFOLDER]/ThinkingHome.TestConsole.exe.config"
					ElementPath="/configuration/appSettings/add[\[]@key='culture'[\]]/@value" />

				<util:XmlFile Id="configure_service_lang" Action="setValue" Value="[UI_LANG]"
					File="[SERVICEINSTALLFOLDER]/ThinkingHome.Service.exe.config"
					ElementPath="/configuration/appSettings/add[\[]@key='culture'[\]]/@value" />

				<util:XmlFile Id="configure_console_listener_port" Action="setValue" Value="[HTTP_LISTENER_PORT]"
					File="[SERVICEINSTALLFOLDER]/ThinkingHome.TestConsole.exe.config"
					ElementPath="/configuration/appSettings/add[\[]@key='Listener.Port'[\]]/@value" />

				<util:XmlFile Id="configure_service_listener_port" Action="setValue" Value="[HTTP_LISTENER_PORT]"
					File="[SERVICEINSTALLFOLDER]/ThinkingHome.Service.exe.config"
					ElementPath="/configuration/appSettings/add[\[]@key='Listener.Port'[\]]/@value" />

			</Component>
			<Component
				Id="ApplicationShortcutDesktop"
				Directory="DesktopFolder"
				Guid="{6ABB9F24-81AA-4E71-B596-35930912EE66}">
				<util:InternetShortcut
					Id="DesktopShortcut"
					Name="ThinkingHome Control Panel"
					Target="http://127.0.0.1:[HTTP_LISTENER_PORT]"/>
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Microsoft\ThinkingHome" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>