@{
	ViewBag.Title = "Welcome!";
}

<div class="col-md-11">
	<h1>Welcome!</h1>
	<p>
		By this web application you can manage your home scripts. 
	</p>
	<p>
		Go to <a href="@Url.Action("Index", "DefaultScripts", new { Area = "Scripts" })">Scripts</a> page 
		for create/edit scripts. Go to 
		<a href="@Url.Action("Events", "DefaultScripts", new { Area = "Scripts" })">Events</a> page
		for edit script subscribtions.
	</p>
	<p>
		More info on <a href="http://thinking-home.ru/system">Thinking-Home.System website</a> (Russian).
	</p>
</div>
