<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_949AC3B7877043DE80F69EC85400182E" Name="Areas">
          <Directory Id="FOLDER_6A6C16A30FD74E628BDE3208C1114E15" Name="AlarmClock">
            <Directory Id="FOLDER_DB134852F6004B96971D7FE99B75FC09" Name="bin" />
            <Directory Id="FOLDER_02F7963586B646D2A2529C1196509985" Name="obj">
              <Directory Id="FOLDER_B9784DBAC3E447838063A408C2C6D09A" Name="Debug" />
              <Directory Id="FOLDER_A8F23F410D974C29BE8AFA4ABB4A0E8B" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_9F23C86E116041ABAD5EFC37B83E1AB7" Name="Views" />
          </Directory>
          <Directory Id="FOLDER_5892EF4EDA5249A39BDA5DD34A3D88BC" Name="Packages">
            <Directory Id="FOLDER_13CD595F5DF24ACA9997DD9F5710E841" Name="obj">
              <Directory Id="FOLDER_AEF8139552584BC596D5E543AD3977C2" Name="Debug" />
              <Directory Id="FOLDER_E7C7EB57EB414E46B405EBBF96F6A144" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_5A5F5D156151417F92A6CB2DA5D4EC98" Name="Views">
              <Directory Id="FOLDER_BC6F4826485645069B1310627C4A7BD5" Name="DefaultPackages" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_1AC538AB3B4549B9A1849B83B774B357" Name="Scripts">
            <Directory Id="FOLDER_870BFCF791AC497C8B7B192BDDB100EA" Name="bin" />
            <Directory Id="FOLDER_BE4E71B74968498D86A0DF64044BC16D" Name="obj">
              <Directory Id="FOLDER_33989F4BCEC640BDA948C1609ECACC29" Name="Debug" />
              <Directory Id="FOLDER_9FBEFAE923084B74A251CDB10DE90E52" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_80DDC71173A944C18BE2E1DA08A9C95B" Name="Views">
              <Directory Id="FOLDER_439263A7B11141B6A5C3BEB81D05DD4C" Name="DefaultScripts" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_70EDFAA699B34403A6C35462980815E4" Name="Weather">
            <Directory Id="FOLDER_1C6A7DEBCED548D990B1000477D71649" Name="bin" />
            <Directory Id="FOLDER_0267EB4394BB4753BD9891CBD411353B" Name="obj">
              <Directory Id="FOLDER_3A592192D3F64D84BB82AFF0ED59FE79" Name="Debug" />
              <Directory Id="FOLDER_FEFD7916BF074F029883CD30B5B4D0FE" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_9EC614773289446BB71697C43267B9FC" Name="Views" />
          </Directory>
        </Directory>
        <Directory Id="FOLDER_678ACE10592040238267EB3BF9A2249C" Name="bin" />
        <Directory Id="FOLDER_E8A7F85B1EDC42E1937A1075DF849EE0" Name="Content">
          <Directory Id="FOLDER_5F0D3C144E1941E6BE1F8EF22807FF22" Name="css" />
          <Directory Id="FOLDER_EE82A7048D994607A4E5C68BFF7EAD5E" Name="fonts" />
          <Directory Id="FOLDER_C57EC622898F481693202D452D87C811" Name="js">
            <Directory Id="FOLDER_EAA332B91F11498EB87002CFB7AB5FAD" Name="ace">
              <Directory Id="FOLDER_8576EF2100AB45CCA4DFF1739AF846C3" Name="snippets" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_2C634CCC251441F9BEF75A37BF572158" Name="less" />
        </Directory>
        <Directory Id="FOLDER_A8A4D534A44C41979CEEE60E02F758C2" Name="obj">
          <Directory Id="FOLDER_915A1C5A42EE46F38AB50698725F6E3B" Name="Debug" />
          <Directory Id="FOLDER_412B77D3BB70453ABF04F5BA21A94A40" Name="Release" />
        </Directory>
        <Directory Id="FOLDER_F2C0CCCFE4D149A098A94BA75CBDB30B" Name="Properties">
          <Directory Id="FOLDER_56D4941B72D642CBAFAE1A03DED2B853" Name="PublishProfiles" />
        </Directory>
        <Directory Id="FOLDER_063D3D0C6BA14A74A7A144ABF3823CFE" Name="Views">
          <Directory Id="FOLDER_250DFADAAD7A416C8CEFB2C753EBDD75" Name="Default" />
          <Directory Id="FOLDER_8286FC1410174DCB9BD88F176AA0ED7A" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>