<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="WEBAPPFOLDER" Name="webapp">
        <Directory Id="FOLDER_A49F8FF679D34735B369C1A65841E377" Name="Areas">
          <Directory Id="FOLDER_6E6C82F7DCFB4453BC407EA7B244558A" Name="AlarmClock">
            <Directory Id="FOLDER_709FCCD3437E44BC9FB7C28EED4E560A" Name="bin" />
            <Directory Id="FOLDER_2D012B76FE6645BBB5619FAE24C6032A" Name="obj">
              <Directory Id="FOLDER_B52943F7BB924FB8A7E72AE3A20852E1" Name="Debug" />
              <Directory Id="FOLDER_ABF14389A14F43F99C6388C3BFDB75CE" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_99A5CF5D5F1D40B4AF9DC5C6EA7F42CE" Name="Views" />
          </Directory>
          <Directory Id="FOLDER_7CD2ACAD317E40768C4D40F097456656" Name="Packages">
            <Directory Id="FOLDER_B3B47427A2304659ADBDC2A0EE95D52D" Name="obj">
              <Directory Id="FOLDER_300FD70D32D442E1882FBD8EF5519128" Name="Debug" />
              <Directory Id="FOLDER_929C5FA6580B4567AD327F894E995160" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_E30DA0ABBCC54CA199BEDB83269CE205" Name="Views">
              <Directory Id="FOLDER_8DABC98CF7474E05A5749BA9390E2408" Name="DefaultPackages" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_B02335DF100B4FC7A47A86D12C0BB1C2" Name="Scripts">
            <Directory Id="FOLDER_F698A8A429A5447885BA2138EAA6CEAB" Name="bin" />
            <Directory Id="FOLDER_3878D3FD8F434E4393082C798E8E243C" Name="obj">
              <Directory Id="FOLDER_38C8448107EC4568871FDEDD0FF61BB3" Name="Debug" />
              <Directory Id="FOLDER_BF989539F6C84900ADDF28C37CAECCAF" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_58743C6C082D4DC69A4C68B014F0D84A" Name="Views">
              <Directory Id="FOLDER_B0D3866174B44EFCB657CD760C05217F" Name="DefaultScripts" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_F21E9B49F5F6405DAC83953B87C3D35F" Name="Weather">
            <Directory Id="FOLDER_3A68470A4FEA4D4E9C1D2CCF6018F832" Name="bin" />
            <Directory Id="FOLDER_834E1C4B98B0489C80DD2B87DED60AF4" Name="obj">
              <Directory Id="FOLDER_D71B2C420E1F4A009520E6814C240331" Name="Debug" />
              <Directory Id="FOLDER_03FCE8058C3E4566966F9F831F4CA49F" Name="Release" />
            </Directory>
            <Directory Id="FOLDER_1A99806FBC1347579F5A2202DCFAC55A" Name="Views" />
          </Directory>
        </Directory>
        <Directory Id="FOLDER_6994DB70073449378F695643F9BD2236" Name="bin" />
        <Directory Id="FOLDER_5E0A21EECCBD42948CB7F4FFBA59757B" Name="Content">
          <Directory Id="FOLDER_E66AF3D34AE04CDFB3B4A1D5C9F7D82B" Name="css" />
          <Directory Id="FOLDER_7898B318840B404FB7272C6DFABE465F" Name="fonts" />
          <Directory Id="FOLDER_24BD4D0F32F7472BB5FB52C597C60692" Name="js">
            <Directory Id="FOLDER_4F306CAD250B469C879B5C2F8D464A1F" Name="ace">
              <Directory Id="FOLDER_48120A5A4C06477A8627A4C655B6E66B" Name="snippets" />
            </Directory>
          </Directory>
          <Directory Id="FOLDER_DFA121771FF1464AA4F4B37F419BF8C4" Name="less" />
        </Directory>
        <Directory Id="FOLDER_8DDBC883F0B24AC0840DB6299BCD26AC" Name="obj">
          <Directory Id="FOLDER_AA33AB90552C4B9193D4FD91A1E78E3E" Name="Debug" />
          <Directory Id="FOLDER_F85B906E4A3043C1A110323CDE43765F" Name="Release" />
        </Directory>
        <Directory Id="FOLDER_1679A75ADBB24F2FA0638B0A24D836C8" Name="Properties">
          <Directory Id="FOLDER_BDC521EF39FC47B5885D72F90D284C7D" Name="PublishProfiles" />
        </Directory>
        <Directory Id="FOLDER_8FD281B7D69B4BA6AB7BB2CE18271CF1" Name="Views">
          <Directory Id="FOLDER_0CB0729D595D40FB854CBDC9B9F2B33A" Name="Default" />
          <Directory Id="FOLDER_48430E48C4F7485FB1BDABC1CC0634D6" Name="Shared" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>