<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
	xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

	<?include Variables.wxi?>

	<Product  Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033"
		Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" 
		UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

		<Binary Id="ThinkingHome.SetupCustomActions.CA.dll"
			SourceFile="..\dist\ThinkingHome.SetupCustomActions.CA.dll" />

		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductShortcuts" />
			<ComponentGroupRef Id="ProductShortcutsGroup" />
		</Feature>

		<PropertyRef Id="NETFRAMEWORK40FULL"/>
		<Property Id="REGISTRY_PATH"  Value="SOFTWARE\$(var.Manufacturer)\$(var.ProductName)" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER">
			<RegistrySearch Id="NwcpInstallFolderSavedValue"
				Root="HKCU"
				Key="[REGISTRY_PATH]"
				Name="Path"
				Type="directory" />
		</Property>
		<Property Id="WEBSITE_PORT"  Value="8080">
			<RegistrySearch Id="NwcpPortSavedValue"
				Root="HKCU"
				Key="[REGISTRY_PATH]"
				Name="Port"
				Type="raw" />
		</Property>

		<UIRef Id="WixUI_Minimal" />
		<WixVariable Id="WixUILicenseRtf" Value="..\dist\License.rtf" />
		<Condition Message=".NET Framework 4.0 is required. Install .NET Framework and execute this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK40FULL]]>
		</Condition>
	</Product>

	<Fragment>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder">
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ThinkingHome" >
				</Directory>
			</Directory>
		</Directory>

		<CustomAction Id="SetAppId" Property="APP_ID" Value="$(var.UpgradeCode)" Execute="immediate" />
		<CustomAction Id="SetPort" Property="APP_PORT" Value="[WEBSITE_PORT]" Execute="immediate" />
		<CustomAction Id="SetPath" Property="APP_PATH" Value="[WEBAPPFOLDER]" Execute="immediate" />
		<CustomAction Id="RegisterWebApp" Execute="immediate" Return="check" BinaryKey="ThinkingHome.SetupCustomActions.CA.dll" DllEntry="RegisterApplication" />
		<CustomAction Id="UnRegisterWebApp" Execute="immediate" Return="check" BinaryKey="ThinkingHome.SetupCustomActions.CA.dll" DllEntry="UnRegisterApplication" />
		<CustomAction Id="CheckWebServer" Execute="immediate" Return="ignore" BinaryKey="ThinkingHome.SetupCustomActions.CA.dll" DllEntry="CheckWebServer" />
		<InstallUISequence>
			<Custom Action="CheckWebServer" After="CostFinalize">
				<![CDATA[REMOVE <> "ALL"]]>
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='SetAppId' After='InstallFiles' />
			<Custom Action='SetPort' After='SetAppId' />
			<Custom Action='SetPath' After='SetPort' />
			<Custom Action='RegisterWebApp' After="SetPath">
				<![CDATA[REMOVE <> "ALL"]]>
			</Custom>
			<Custom Action='UnRegisterWebApp' After="SetPath">
				<![CDATA[REMOVE = "ALL"]]>
			</Custom>
		</InstallExecuteSequence>

	</Fragment>

	<Fragment>

		<ComponentGroup Id="ProductShortcutsGroup">
			<Component Id="RegistryEntries"
				Guid="078F032B-DE91-4D0B-AC9C-9ECD96DAA9F6"
				DiskId="1" Directory="INSTALLFOLDER" >
				<RegistryValue
							Root="HKCU"
							Key="[REGISTRY_PATH]"
							Name="Path"
							Type="string"
							Value="[INSTALLFOLDER]"
							KeyPath="yes"/>
				<RegistryValue
							Root="HKCU"
							Key="[REGISTRY_PATH]"
							Name="Port"
							Type="string"
							Value="[WEBSITE_PORT]" />
			</Component>
		</ComponentGroup>


		<ComponentGroup Id="ProductShortcuts">
			<Component
				Id="ProductShortcut"
				Guid="D7EE113C-2F21-4526-B432-4B51563807F4"
				DiskId="1"
				Directory="DesktopFolder">
				<util:InternetShortcut Id="WebAppDesktopShortcut"
					Name="$(var.ProductName)"
					Target="http://localhost:[WEBSITE_PORT]"/>
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue
					Root="HKCU"
					Key="[REGISTRY_PATH]"
					Name="installed"
					Type="integer"
					Value="1"
					KeyPath="yes"/>
			</Component>
		</ComponentGroup>

	</Fragment>


</Wix>