<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="pluginsFolder" value="..\..\..\build\Debug" />
		<add key="pluginsRepository" value="http://plugins.thinking-home.ru/api/v2/" />
		<add key="culture" value="ru-RU"/>
		<add key="testCameraIP" value="192.168.0.167" />

		<add key="Listner.Port" value="80"/>
		<add key="Mqtt.Host" value="localhost"/>
		<add key="Mqtt.Path" value="#"/>
	</appSettings>
	<connectionStrings>
		<!-- todo: sql -->
		<add name="common" connectionString="Data Source=home.sdf" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="test@noolite.local">
				<network host="localhost" port="25" userName="test@noolite.local" password="123" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
