<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="pluginsFolder" value="..\..\..\build\Debug"/>
		<add key="pluginsRepository" value="http://plugins.thinking-home.ru/api/v2/"/>
		<add key="testCameraIP" value="192.168.0.167"/>
	</appSettings>
	<connectionStrings>
		<!-- todo: sql -->
		<add name="common" connectionString="Data Source=home.sdf" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="test@noolite.local">
				<network host="localhost" port="25" userName="test@noolite.local" password="123" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
