@{
	Layout = "~/Views/Shared/Layout.cshtml";
	ViewBag.Title = "Events";
}
<div class="col-md-11">
	<h1>Events</h1>

	<div class="col-md-4">
		<form role="form">
			<div class="form-group">
				<label>
					event type
				</label>
				<select id="event" class="form-control" data-bind="foreach: events">
					<option data-bind="
	text: $data.pluginAlias() + '.' + $data.eventAlias(),
	attr: { 'data-plugin': $data.pluginAlias(), 'data-event': $data.eventAlias() }"></option>
				</select>
			</div>
			<div class="form-group">
				<label>
					execute script
				</label>
				<select id="execute-script" class="form-control" data-bind="foreach: scripts">
					<option data-bind="text: $data.name(), value: $data.id()"></option>
				</select>
			</div>
			<input type="button" class="btn btn-primary" value="Add subscription"
				data-bind="click: $root.addSubscription" />
		</form>
	</div>
	<div class="col-md-7">
		<div class="help-block" data-bind="visible: !subscriptions().length">
			For new subscription please select event type, select target script and click the "Add subscription" button. 
		</div>
		<table class="table" data-bind="visible: !!subscriptions().length">
			<thead>
				<tr>
					<th>Plugin</th>
					<th>Event</th>
					<th>Script</th>
					<th></th>
				</tr>

			</thead>
			<tbody data-bind="foreach: subscriptions">
				<tr>
					<td data-bind="text: $data.pluginAlias()"></td>
					<td data-bind="text: $data.eventAlias()"></td>
					<td data-bind="text: $data.scriptName()"></td>
					<td>
						<a href="#" data-bind="click: $root.deleteSubscription">detach</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript">

	function ScriptsViewModel() {

		// Data
		var self = this;

		self.events = ko.observableArray();
		self.scripts = ko.observableArray();
		self.subscriptions = ko.observableArray();

		// Behaviours
		self.updateSubscriptions = function () {

			$.th.send(
				'Scripts',
				'GetSubscriptionList',
				null,
				function (data) {
					var array = [];

					for (var i = 0; i < data.length; i++) {
						array.push(ko.mapping.fromJS(data[i]));
					}

					self.subscriptions(array);
				});
		};

		self.updateScripts = function () {

			$.th.send(
				'Scripts',
				'GetScriptList',
				null,
				function (data) {
					var array = [];

					for (var i = 0; i < data.length; i++) {
						array.push(ko.mapping.fromJS(data[i]));
					}

					self.scripts(array);
				});

			$.th.send(
				'Scripts',
				'GetEventList',
				null,
				function (data) {
					var array = [];

					for (var i = 0; i < data.length; i++) {
						array.push(ko.mapping.fromJS(data[i]));
					}

					self.events(array);
				});
		};

		self.addSubscription = function () {

			var eventInfo = $("#event option:selected");

			var pluginAlias = eventInfo.data('plugin');
			var eventAlias = eventInfo.data('event');
			var scriptId = $("#execute-script").val();

			$.th.send(
				'Scripts',
				'AddSubscription',
				{ pluginAlias: pluginAlias, eventAlias: eventAlias, scriptId: scriptId },
				function () {
					self.updateSubscriptions();
				});
		};

		self.deleteSubscription = function (subscription) {

			if (window.confirm('Warning!\nSubscribe to the event will be deleted!')) {
				$.th.send(
				'Scripts',
				'DeleteSubscription',
				{ subscriptionId: subscription.id() },
				function () { self.updateSubscriptions(); });
			}
		};

		// Init
		self.updateSubscriptions();
		self.updateScripts();
	}

	$(function () {

		ko.applyBindings(new ScriptsViewModel());
	});
</script>


