@{
	ViewBag.Title = "Download";
	ViewBag.Name = "Download";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Скачать</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Серсвис автоматизации</h2>

			<p>Занимается обработкой событий и выполнением сценариев.</p>
			<a href="~/Content/files/service-setup.msi" class="btn btn-default">Скачать</a>
			<span class="help-block">Инсталлятор .msi, 9 МБ</span>
		</div>
		<div class="col-md-4">
			<h2>Веб-консоль</h2>
			<p>Предоставляет пользовательский интерфейс для работы с сервисом.</p>
			<a href="~/Content/files/webapp-setup.msi" class="btn btn-default">Скачать</a>
			<span class="help-block">Инсталлятор .msi, 5 МБ</span>
		</div>
		<div class="col-md-4">
			<h2>Для работы потребуется</h2>
			<p>Для работы системы необходимо предварительно установить на компьютер следующее ПО:
			</p>
			<ul class="list-unstyled">
				<li><a href="http://www.microsoft.com/download/details.aspx?id=30653">.NET Framework 4.5</a></li>
				<li><a href="http://www.microsoft.com/download/details.aspx?id=17876">MS SQL Server CE 4.0</a></li>
				<li><a href="http://thinking-home.ru/admin/userfiles/file/noolite-web-demo/UltiDev.WebServer.msi">UltiDev Web Server</a></li>
			</ul>
		</div>
	</div>
</div>
